<app-navigation></app-navigation>

<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Left Column -->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h2 style="float: left; text-align: center;">Add Product</h2>
                    </div>
                    <div class="card-body">

                        <label>Name:</label>
                        <input type="text" [(ngModel)]="productName" style="float: right">

                        <label>Description:</label>
                        <input type="text" [(ngModel)]="productDescription" style="float: right">

                        <label>Price:</label>
                        <input type="number" [(ngModel)]="productPrice" style="float: right">

                        <label>Available Inventory:</label>
                        <input type="text" [(ngModel)]="productAvailableInventory" style="float: right; width: 150px;">

                        <button class="btn btn-sm btn-primary" (click)="saveNewProduct()">Save</button>
                    </div>
                </div>
                <div class="card" style="height: 400px; overflow-y: auto;">
                    <div class="card-header">
                        Products
                    </div>
                    <div class="card-body">
                        <div class="card-deck" *ngFor="let product of products">
                            <div class="card" style="margin: 4px 0 0 0; padding: 4px">
                                <div class="card-header">
                                    <h4>{{product.name}}</h4>
                                    <div>
                                        <input type="checkbox">
                                        Active?
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6>Available Inventory: <span class="badge">{{product.availableInventory}}</span></h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Left Column -->
            </div>
            <!-- Right Column -->
            <div class="col-8">
                <div>
                    <sales-graph></sales-graph>
                </div>
            <!-- End Right Column -->
            </div>
        </div>
    </div>
</section>