<section>
    <div class="row">
        <div class="card">
            <div class="card-header">
                Sales
            </div>
            <div class="card-body">
                <div class="container">
                    <google-chart #chart 
                        [title]="title" 
                        [type]="type" 
                        [data]="data" 
                        [options]="options" 
                        [width]="width"
                        [height]="height">
                    </google-chart>
                </div>
            </div>
        </div>
    </div>
</section>